.image.hero {
    width: 250px;
    height: 150px;
    object-fit: cover;
}

.title {
   font-family:'Raleway', sans-serif;
}

.subtitle {
    letter-spacing: 10px;
}

#hero {
    height: 90vh;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-text {
    text-align: justify;
}

